@using System.Web
@using Newtonsoft.Json;


@{
    ViewData["Title"] = "Home Page";

}

<div id="dashboard-navigation"> navigation</div>
<div class="main-dashboard">
    <div class="main-container-dashboard" id="main-container-dashboard">
        <p>Continer</p>
    </div>

</div>
@*<div class="row">

    <div class=" col-md-4"  >
        <div id="my-chart-api-0" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI0" width="400" height="400">  </canvas>
    </div>
    <div class=" my-chart-api-1 col-md-4">
        <div id="my-chart-api-1" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI1" width="400" height="400"></canvas>
    </div>
    <div class="my-chart-api-2 col-md-4">
        <div id="my-chart-api-2" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI2" width="400" height="400"></canvas>
    </div>
</div>
<div class="row">
    <div class=" col-md-4">
        <div id="my-chart-api-3" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI3" width="400" height="400"></canvas>
    </div>
    <div class=" col-md-4">
        <div id="my-chart-api-4" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI4" width="400" height="400"></canvas>
    </div>
    <div class=" col-md-4">
        <div id="my-chart-api-5" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI5" width="400" height="400"></canvas>
    </div>
</div>
<div class="row">
    <div class=" col-md-4">
        <div id="my-chart-api-6" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI6" width="400" height="400"></canvas>
    </div>
    <div class=" col-md-4">
        <div id="my-chart-api-6" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI6" width="400" height="400"></canvas>
    </div>
    <div class=" col-md-4">
        <div id="my-chart-api-6" style="align-items:center; margin:100px"></div>
        <canvas id="myChartAPI6" width="400" height="400"></canvas>
    </div>
</div>*@




