@using TestCharts.ViewModels


@*nee mnogo ok...*@
@model Task<HomePageCharts>

@{
    ViewData["Title"] = "Home Page";
    string typeOfChart = ViewBag.TypeChart;
    var test = Model.Result;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<div class="row">
    <div class=" col-md-4">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
    <div class="col-md-4">
        <canvas id="myChart3" width="400" height="400"></canvas>
    </div>

</div>


<script>

    $.get("Home/GetData", function (data) {
        $.each(data.configs, function (key, value) {
            createChart(value.type, value.idChart, value.data)
        });
    });


    function createChart(type,idChart,data) {

        var ctx = document.getElementById(idChart).getContext('2d');
        var myChart = new Chart(ctx, {
            type: type,

            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: data ,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }


</script>